[Unit]
Description=AdGuard Home: Network-level blocker
ConditionFileIsExecutable=__INSTALL_DIR__/AdGuardHome
After=syslog.target network-online.target

[Service]
Type=simple
User=__APP__
Group=__APP__
StartLimitInterval=5
StartLimitBurst=10
WorkingDirectory=__INSTALL_DIR__/
ExecStart=__INSTALL_DIR__/AdGuardHome 
Restart=always
RestartSec=10
#EnvironmentFile=-/etc/sysconfig/AdGuardHome

[Install]
WantedBy=multi-user.target
