[Unit]
Description=AdGuardHome DNS
#ConditionFileIsExecutable=/etc/AdGuardHome/AduGuardHome

[Service]
User=__APP__
Group=__APP__
StartLimitInterval=5
StartLimitBurst=10
WorkingDirectory=__FINALPATH__
ExecStart=__FINALPATH__/AdGuardHome -c __FINALPATH__/AdGuardHome.yaml -p __PORT__

WorkingDirectory=/etc/AdGuardHome
#Restart=always
#RestartSec=120
#EnvironmentFile=-/etc/sysconfig/dnscrypt-proxy

[Install]
WantedBy=multi-user.target
